* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    font-family: sans-serif;
  min-height: 100vh;
  height: auto;
width: 100%;
background-color: limegreen;
overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

div{
      height: 300px;
      width: 300px;
      background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
      color: white;
      padding: 20px;
}

